{% extends "base.html" %}

{% block title %}
Список автомобилей
{% endblock %}

{%  block header %}
Список
{% endblock %}

{%  block header_2 %}
<h3>рекомендованных автомобилей с сайта Avito.ru.</h3>
<h4>С помощью методов машинного обучения!</h4>
{% endblock %}

{% block content %}
<ul>

    {% for item in avto %}
        <div class="post-preview">

          <a href="{% url 'avto:post_detail' pk=item.pk %}">
            <h2 class="post-title">
              {{ item.cat_marka}}
            </h2>
            <h3 class="post-subtitle">
               Цена: на Avito: {{ item.price}} руб. / предсказанная: {{ item.price_pred}} руб.
            </h3>
          </a>
          <p class="post-meta">Характеристики:
            Пробег: {{item.probeg}},
            год выпуска: {{item.year}}, Модель: {{item.model}}, Комплектация: {{item.complectation}}, Состояние: {{item.sostoyanie}},
            Цвет: {{item.color}}, Место осмотра: {{item.cat_mesto}}, Модификация: {{item.modification}}, Кузов: {{item.type_kyzov}}</p>
        </div>
        <hr>
        {% endfor %}


    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Первая </a>
                <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
            {% endif %}

            <span class="current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
            {% endif %}
        </span>
    </div>

    <a href="{% url 'avto:create_avto' %}">Создать</a>
</ul>
{% endblock %}