{% extends "base.html" %}

{% block title %}
Список автомобилей
{% endblock %}

{% block content %}

<ul>
    {% for item in avto %}
    <li>
        <a href="{% url 'avto:post_detail' pk=item.pk %}">
            {{item.cat_marka}}, {{item.price}}
        </a>
/
        <a href="{% url 'avto:avto_update' pk=item.pk %}">
            Изменить
        </a>
        /
        <a href="{% url 'avto:avto_delete' pk=item.pk %}">
            Удалить
        </a>

    </li>
    {% endfor %}


    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Первая </a>
                <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
            {% endif %}

            <span class="current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
            {% endif %}
        </span>
    </div>

    <a href="{% url 'avto:create_avto' %}">Создать</a>
</ul>
{% endblock %}