{% extends "base.html" %}
{% load str_extensions %}

{% block title %}
Главная страница
{% endblock %}

{%  block header %}
{{header|capitalize}}
{% endblock %}

{%  block header_2 %}
{{header_2|title}}
{% endblock %}

{% block content %}

    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for item in avto %}
        <div class="post-preview">

          <a href="{% url 'avto_avito:post' id=item.id %}">
            <h2 class="post-title">
              {{ item.cat_marka}}
            </h2>
            <h3 class="post-subtitle">
               Цена: {{ item.price}} руб.
            </h3>
          </a>
          <p class="post-meta">Характеристики
            <a href="#">Пробег {{item.probeg}}</a>
            год выпуска{{item.year}}, Модель {{item.model}}, Комплектация{{item.complectation}}, Состояние {{item.sostoyanie}},
            Цвет {{item.color}}, Место осмотра{{item.cat_mesto}}, Модификация{{item.modification}}, Кузов {{item.type_kyzov}}</p>
        </div>
        <hr>
        {% endfor %}
        <hr>
        <!-- Pager -->
<!--        <div class="clearfix">-->
<!--          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>-->
<!--        </div>-->

        <div class = "pagination">
          <span class = "step-links">
            {% if avto.has_previous %}
            <a href = "?page={{avto.previous_page_number}}"> предыдущий </a>
            {% endif %}

            <span class="current">
              Страница {{ avto.number }} из {{ avto.paginator.num_pages }}
            </span>

            {% if avto.has_next %}
            <a href = "?page={{avto.next_page_number}}"> следующий </a>
            {% endif %}
          </span>
        </div>

      </div>
    </div>

{% endblock %}