{% extends 'base.html' %}

{% block title %}
{{post.cat_marka}}
{% endblock %}


{%  block header %}
{{post.cat_marka}}
{% endblock %}

{%  block header_2 %}
Модель: {{post.model}},
Комплектация: {{post.complectation}},
Модификация: {{post.modification}},
{% endblock %}

{% block content %}
  <!-- Post Content -->

      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1>{{ post.price}} руб. </h1>
            <hr>
            <a href = {{post.href}}> Посмотреть на сайте Avito </a>
            <hr>
            <img src = "https://{{post.image_href_0}}">
            <img src = "https://{{post.image_href_1}}">
            <img src = "https://{{post.image_href_2}}">
            <hr>
            {{post.text}}

        </div>
      </div>

 {% endblock %}