{% extends "base.html" %}

{% block title %}
{{post.name}}
{% endblock%}

{% block content %}
<div class="row">
    <h1>{{post_detail.cat_marka}}</h1>
    <div class="col-lg-8 col-md-10 mx-auto">
        <h3>Цена: {{post_detail.price}} </h3>
        <hr>
        <img src = "https://{{post_detail.image_href_0}}">
        <img src = "https://{{post_detail.image_href_1}}">
        <img src = "https://{{post_detail.image_href_2}}">
        <hr>
        {{post_detail.text}}
        <hr>
            <a href = {{post.href}}> Посмотреть на сайте Avito </a>
        <hr>


    </div>
<hr>

</div>
<a href="{% url 'avto:avto_update' pk=object.pk %}">
            Изменить
        </a>
{% endblock %}